* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#root,
#background {
    height: 100%;
    width: 100%;
}
.scrollable::-webkit-scrollbar {
    width: 0 !important;
}

.scrollable {
    overflow: -moz-scrollbars-none;
}

.scrollable {
    -ms-overflow-style: none;
}

.NavSide:hover {
    color: #045cff;
    border-left-color: #045cff;
    cursor: pointer;
}
